@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #E8D5D5;
  font-family: "Josefin Sans", sans-serif;
  color: #444;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
}

.blog .container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.blog .container h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 411px) {
  .blog .container h1 {
    font-size: 24px;
  }
}

.blog .container img {
  width: 80%;
  height: auto;
  border-radius: 8px;
  transition: box-shadow .3s;
}

.blog .container img:hover {
  box-shadow: 0 0 5px 5px #dcabae;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Amatic SC", cursive;
  font-weight: 600;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #777777;
}

/* Layout */
.wrapper {
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  background: #E8D5D5;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sidebar {
  -ms-flex: 1 0 0px;
      flex: 1 0 0;
}

.posts {
  -ms-flex: 2 0 0px;
      flex: 2 0 0;
  min-height: 600px;
}

@media (max-width: 411px) {
  .posts {
    -ms-flex-order: -1;
        order: -1;
    margin-bottom: 10px;
  }
}

.article-title {
  min-width: 200px;
}

.sidebar,
.posts {
  background: #fff;
  margin-right: 10px;
  border-radius: 5px;
  padding: 40px;
}

@media (max-width: 411px) {
  .posts, .sidebar {
    min-width: 350px;
    margin: 0 auto;
  }
  .wrapper {
    margin-left: 0;
  }
  .sidebar {
    margin-top: 10px;
  }
}

/* Logo */
.logo {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list.tags li {
  display: inline-block;
  margin-right: 4px;
}

.list.tags li .tag-size-1 {
  font-size: 1rem;
  color: #f7be16;
}

.list.tags li .tag-size-2 {
  font-size: 1.2rem;
  color: #ffafb0;
}

.list.tags li .tag-size-3 {
  font-size: 1.4rem;
  color: #fc7978;
}

.list.tags li .tag-size-4 {
  font-size: 1.6rem;
  color: #96d1c7;
}

.list.tags li .tag-size-5 {
  font-size: 1.8rem;
  color: #5eb7b7;
}

.list a {
  color: black;
  text-decoration: none;
}

.list .active {
  font-weight: bold;
  text-decoration: none;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}

/* Post */
.post {
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}

.post.active {
  opacity: 1;
  display: block;
}

.post-author a {
  font-style: italic;
  text-decoration: none;
  color: black;
}

.post-tags {
  display: -ms-flexbox;
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}

.post-tags .list li {
  margin-right: 5px;
}

@media (max-width: 321px) {
  .posts, .sidebar {
    min-width: 200px;
  }
}
/*# sourceMappingURL=styles.css.map */